'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Triple Folds'
      'submenu': [
        { 'label': 'Fold All', 'command': 'triple-folds:fold-all' },
        { 'label': 'Unfold All', 'command': 'triple-folds:unfold-all' }
      ]
    ]
  }
]
