'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Marker Folding'
      'submenu': [
        { 'label': 'Fold All', 'command': 'marker-folding:fold-all' },
        { 'label': 'Unfold All', 'command': 'marker-folding:unfold-all' },
        { 'label': 'Collapse fold', 'command': 'marker-folding:collapse-this' },
        { 'label': 'Uncollapse fold', 'command': 'marker-folding:uncollapse-this' }
      ]
    ]
  }
]
