'atom-workspace':
  'ctrl-alt-shift-6': 'marker-folding:fold-all'
  'ctrl-alt-shift-7': 'marker-folding:unfold-all'
  'ctrl-alt-6': 'marker-folding:collapse-this'
  'ctrl-alt-7': 'marker-folding:uncollapse-this'
